#case {
    font-size:30px ;
}

#google_img {
    font-size: 20px;
}

#mobilenet {
    font-size: 20px;
}

#background {
    background-color: aqua;
}


#lens {
  height  : 40px;
}

#mobilenet {
    color: black;
}

#bottle {
    height: 350px;
}